<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="user" class="com.wge.study.pojo.User">
        <property name="name" value="liuzuwei"></property>
        <property name="age" value="28"></property>
        <property name="games">
            <set>
                <value>LOL</value>
                <value>QQ飞车</value>
            </set>
        </property>

        <property name="hobbys">
            <list>
                <value>song</value>
            </list>
        </property>

        <property name="identity">
            <map>
                <entry key="学号" value="130412054"></entry>
            </map>
        </property>

        <property name="properties">
            <props>
                <prop key="url">mysql://3306</prop>
                <prop key="driver">mysql</prop>
            </props>
        </property>
    </bean>

    <!-- 导入资源文件
    读取db.properties文件中的数据 -->
    <context:property-placeholder location="classpath:db.properties"/>


    <!-- 配置C3P0数据源 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="user" value="${jdbc.user}"></property>
        <property name="password" value="${jdbc.password}"></property>
        <property name="jdbcUrl" value="${jdbc.jdbcUrl}"></property>
        <property name="driverClass" value="${jdbc.driverClass}"></property>
        <property name="initialPoolSize" value="${jdbc.initPoolSize}"></property>
        <property name="maxPoolSize" value="${jdbc.maxPoolSize}"></property>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
</beans>